body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


a {
    color: rgb(240, 70, 70);
}

#barrainicial {
    width: 85%;
    margin: 0px auto;
    padding: 20px;
}

header {
    display: flexbox;
    background-color: #FF6961;
    color: #ffffff;
    padding: 10px 0;
}

nav h1 {
    margin: 30px auto 20px;
    font-size: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1.5;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

#estouaqui {
    color: #484D50;
    text-decoration: none;
    white-space: nowrap;
}

@media screen and (max-width:400px){
    #logogrupo {
        height: 200px;
    }
    
    .caixainicial {
        margin: 20px;
        font-size: 15px;
        text-align: center;
        line-height: 2;
    }
}

@media screen and (min-width:400px) and (max-width:720px){
    #logogrupo {
        height: 300px;
    }
    
    .caixainicial {
        margin: 20px;
        font-size: 15px;
        text-align: center;
        line-height: 2;
    }

    #texto {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width:720px) and (max-width:920px){
    #logogrupo {
        height: 400px;
    }
    
    .caixainicial {
        margin: 20px;
        font-size: 20px;
        text-align: center;
        line-height: 2;
    }

    #texto {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width:920px) and (max-width:1100px){
    #container {
        display: flex;
    }
    
    #logogrupo {
        height: 400px;
    }
    
    .caixainicial {
        margin: 20px;
        font-size: 20px;
    }
    
    #texto {
        margin-right: 50px;
        line-height: 2;
    }
}

@media screen and (min-width:1100px){
    #container {
        display: flex;
    }
    
    #logogrupo {
        height: 400px;
    }
    
    .caixainicial {
        margin: 20px;
        font-size: 20px;
    }
    
    #texto {
        margin-right: 200px;
        line-height: 2;
    }
}